<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicación de Resumen de Texto</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>

    <!-- Video de fondo -->
    <video autoplay loop muted playsinline class="video-fondo">
        <source src="/static/videos/fondo4.mp4" type="video/mp4">
        Tu navegador no soporta videos HTML5.
    </video>

    <div class="container">
        <h1>Aplicación de Resumen de Texto</h1>
        <p>Bienvenido a nuestra herramienta de generación de resúmenes. Haz clic en el botón para comenzar.</p>
        <button id="nextButton" aria-label="Ingresar a la aplicación principal" role="button">Ingresar</button>
    </div>

    <script src="/static/js/index.js"></script>
</body>

</html>
